ODE_ENV=development
PORT=3000
MONGODB_URI= 
REDIS_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_STAFF_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_STAFF_EXPIRES=8h
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_MAPS_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
ALLOWED_ORIGINS=http://localhost:5173
CUSTOMER_APP_URL=http://localhost:5173
amirsuhail@Pops server % npm run dev

> server@1.0.0 dev
> node --watch index.js

MongoDB connected
Redis connected
[17:08:22.524] INFO (66592): Server running on port 3000
Failed running 'index.js'. Waiting for file changes before restarting...